<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.da_sense.moses.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <!-- This app needs these permissions -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To use the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- to know about the access network state -->
    
    <!-- Only this application can receive the messages and registration result -->
    <permission 
        android:name="de.da_sense.moses.client.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="de.da_sense.moses.client.permission.C2D_MESSAGE"/>
    
    <!-- This app has permission to register and receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Only C2DM servers can send messages for the app. If permission is not set
             any other app can generate it -->
        <receiver 
            android:name="de.da_sense.moses.client.com.C2DMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="de.da_sense.moses.client" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.da_sense.moses.client" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_main" >
            <!-- android:configChanges="orientation|keyboardHidden" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RunningActivity"></activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name="de.da_sense.moses.client.abstraction.apks.InstallApkActivity"></activity>
        <activity android:name=".QuestionnaireActivity"></activity>
        
        <!-- just added from old client -->
        <activity android:name="MosesActivity"></activity>
        <activity android:name="ViewUserStudyActivity"></activity>
        <activity android:name="ViewUserStudyNotificationsList"></activity>
        <activity android:name="AskForDeviceIDActivity"></activity>
       
        <activity 
            android:name=".preferences.MosesPreferences"
            android:theme="@style/AppTheme" android:configChanges="orientation|screenSize">
        </activity> <!-- to be able to run the window of settings -->
       
        <receiver android:name="de.da_sense.moses.client.service.StartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="de.da_sense.moses.client.service.MosesService" >
            <intent-filter>
                <action android:name="de.da_sense.moses.client.service.MosesService" /> <!-- to be able to let MosesService to make services -->
            </intent-filter>
        </service>
        
    </application>

</manifest>