<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.da_sense.moses.client"
    android:versionCode="1"
    android:versionName="1.1 rc" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <!-- This app needs these permissions -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To use the Internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- to know about the access network state -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!-- to receive push messages over GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- to receive GCM messages on devices with Android version lower than 4.0.4 -->
    
    <!-- Only this application can receive the messages and registration result -->
    <permission android:name="de.da_sense.moses.client.permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />
    <uses-permission android:name="de.da_sense.moses.client.permission.C2D_MESSAGE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Only C2DM servers can send messages for the app. If permission is not set
             any other app can generate it -->
        <receiver 
            android:name="de.da_sense.moses.client.com.C2DMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="de.da_sense.moses.client" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_main"
            android:launchMode="standard">
            <!-- android:configChanges="orientation|keyboardHidden" -->
        </activity>
        
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".abstraction.apks.InstallApkActivity"></activity>
        <activity android:name=".SurveyActivity"></activity>
        
        <!-- just added from old client -->
        <activity android:name=".ViewUserStudyActivity"></activity>
       
        <activity 
            android:name=".preferences.MosesPreferences"
            android:theme="@style/AppTheme" android:configChanges="orientation|screenSize">
        </activity> <!-- to be able to run the window of settings -->
       
        <receiver android:name="de.da_sense.moses.client.service.StartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="de.da_sense.moses.client.service.MosesService" android:exported="false">
            <intent-filter>
                <action android:name="de.da_sense.moses.client.service.MosesService" /> <!-- to be able to let MosesService to make services -->
            </intent-filter>
        </service>
        <activity android:theme="@style/AppThemeNoActionbar" android:name=".SplashScreen" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>